    {% load static %}
    <section class="ftco-section contact-section ftco-no-pb" id="contact-section">
      <div class="container">
      	<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <span class="subheading">Contact</span>
            <h2 class="mb-4">Contact Me</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
          </div>
        </div>

        <div class="row no-gutters block-9">
          <div class="col-md-6 order-md-last d-flex">
          <p id="myElem" style="display:none">Send Success Fully</p>
            <form class="bg-light p-4 p-md-5 contact__form" id="comment-form" action="{% url 'contact_form' %}">
            {% csrf_token %}
             <div class="row">
                    <div class="col-12">
                          <div class="alert alert-success contact__msg" style="display: none" role="alert">
                                        Your message was sent successfully.
                          </div>
                    </div>
              </div>
              <div class="form-group">
                <input type="text" id="name" class="form-control" placeholder="Your Name" name='name' required >
              </div>
              <div class="form-group">
                <input type="email" id ="email" class="form-control" placeholder="Your Email" name="email" required >
              </div>
              <div class="form-group">
                <input type="text" id="subject" class="form-control" placeholder="Subject" name="subject" required>
              </div>
              <div class="form-group">
                <input type="phone" id="phone" class="form-control" placeholder="Phone" name="phone" required>
              </div>
              <div class="form-group">
                <textarea name="message" id="contact__msg" cols="30" rows="7" class="form-control" placeholder="Message" required ></textarea>
              </div>
              <div class="form-group">
                <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
              </div>
            </form>
          
          </div>

          <div class="col-md-6 d-flex">
          	<div class="img" style="background-image: url({% static 'images/about1.png' %});"></div>
          </div>
        </div>
      </div>
    </section>
    
    {% comment %} <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{% static 'js/mains.js' %}"></script>  {% endcomment %}
