    {% load static %}
	<section class="ftco-section ftco-project" id="projects-section">
    	<div class="container">
    		<div class="row justify-content-center pb-5">
          <div class="col-md-12 heading-section text-center ftco-animate">
          	<span class="subheading">Accomplishments</span>
            <h2 class="mb-4">My Projects</h2>
            <p>These are the some of my web design and development projects. For details check my github accounts!</p>
          </div>
        </div>
    		<div class="row">
    			<div class="col-md-8">
    				<div class="project img ftco-animate img-2 d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/p6.png' %});">
    					<div class="overlay"></div>
	    				<div class="text text-center p-4">
	    					<h3><a href="{% static 'images/p6.png' %}" target="_blank">Branding &amp; Illustration Design</a></h3>
	    					<span>Web Development</span>
							<a href="{% static 'images/p6.png' %}">View</a>
	    				</div>
    				</div>
    			</div>
    			<div class="col-md-4">
    				<div class="row">
    					<div class="col-md-12">
		    				<div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/p4.png' %});">
		    					<div class="overlay"></div>
			    				<div class="text text-center p-4">
			    					<h3><a href="{% static 'images/p4.png' %}" target="_blank">Branding &amp; Illustration Design</a></h3>
			    					<span>Web Design</span>
			    				</div>
		    				</div>
	    				</div>
	    				<div class="col-md-12">
		    				<div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/p2.png' %});">
		    					<div class="overlay"></div>
			    				<div class="text text-center p-4">
			    					<h3><a href="{% static 'images/p2.png' %}" target="_blank">Branding &amp; Illustration Design</a></h3>
			    					<span>Web Design</span>
			    				</div>
		    				</div>
	    				</div>
    				</div>
    			</div>
    			<div class="col-md-4">
    				<div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/p3.png' %});">
    					<div class="overlay"></div>
	    				<div class="text text-center p-4">
	    					<h3><a href="{% static 'images/p3.png' %}" target="_blank">Branding &amp; Illustration Design</a></h3>
	    					<span>Web Design</span>
	    				</div>
    				</div>
  				</div>
  				<div class="col-md-8">
    				<div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/p1.png' %});">
    					<div class="overlay"></div>
	    				<div class="text text-center p-4">
	    					<h3><a href="{% static 'images/p1.png' %}" target="_blank">Branding &amp; Illustration Design</a></h3>
	    					<span>Web Development</span>
	    				</div>
    				</div>
  				</div>
    		</div>
    	</div>
    </section>