		{% load static %}
		<section class="ftco-section bg-light" id="skills-section">
			<div class="container">
				<div class="row justify-content-center pb-5">
          <div class="col-md-12 heading-section text-center ftco-animate">
          	<span class="subheading">Skills</span>
            <h2 class="mb-4">My Skills</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
          </div>
        </div>
				<div class="row">
					<div class="col-md-6 animate-box">
						<div class="progress-wrap ftco-animate">
							<h3>HTML5/CSS3</h3>
							<div class="progress">
							 	<div class="progress-bar color-1" role="progressbar" aria-valuenow="75"
							  	aria-valuemin="0" aria-valuemax="100" style="width:75%">
							    <span>75%</span>
							  	</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 animate-box">
						<div class="progress-wrap ftco-animate">
							<h3>jQuery</h3>
							<div class="progress">
							 	<div class="progress-bar color-2" role="progressbar" aria-valuenow="60"
							  	aria-valuemin="0" aria-valuemax="100" style="width:60%">
							    <span>60%</span>
							  	</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 animate-box">
						<div class="progress-wrap ftco-animate">
							<h3>Python 3</h3>
							<div class="progress">
							 	<div class="progress-bar color-3" role="progressbar" aria-valuenow="70"
							  	aria-valuemin="0" aria-valuemax="100" style="width:70%">
							    <span>70%</span>
							  	</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 animate-box">
						<div class="progress-wrap ftco-animate">
							<h3>Data Science with pandas</h3>
							
							<div class="progress">
							 	<div class="progress-bar color-4" role="progressbar" aria-valuenow="60"
							  	aria-valuemin="0" aria-valuemax="100" style="width:60%">
							    <span>60%</span>
							  	</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 animate-box">
						<div class="progress-wrap ftco-animate">
							<h3>Web Scraping using </h3>
							<h3>BS4, selenium,scrapy</h3>
							<div class="progress">
							 	<div class="progress-bar color-5" role="progressbar" aria-valuenow="70"
							  	aria-valuemin="0" aria-valuemax="100" style="width:70%">
							    <span>70%</span>
							  	</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 animate-box">
						<div class="progress-wrap ftco-animate">
							<h3>Django 2.2.2 and</h3>
							<h3> Django Rest framework 3.10</h3>
							<div class="progress">
							 	<div class="progress-bar color-6" role="progressbar" aria-valuenow="80"
							  	aria-valuemin="0" aria-valuemax="100" style="width:80%">
							    <span>80%</span>
							  	</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row justify-content-center py-5 mt-5">
          <div class="col-md-12 heading-section text-center ftco-animate">
          	<span class="subheading">What I Do</span>
            <h2 class="mb-4">Strategy, design and a bit of magic</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
          </div>
        </div>

        <div class="row">
					<div class="col-md-4 text-center d-flex ftco-animate">
						<div class="services-1">
							<span class="icon">
								<i class="flaticon-analysis"></i>
							</span>
							<div class="desc">
								<h3 class="mb-5"><a href="#">Frontend</a></h3>
								<h4>HTML5/CSS3</h4>
								<h4>JavaScript</h4>
								<h4>UX Strategy</h4>
							</div>
						</div>
					</div>
					<div class="col-md-4 text-center d-flex ftco-animate">
						<div class="services-1">
							<span class="icon">
								<i class="flaticon-flasks"></i>
							</span>
							<div class="desc">
								<h3 class="mb-5"><a href="#">Backend</a></h3>
								<h4>Python/Django</h4>
								<h4>Laravel</h4>
								<h4>MySQL/MongoDB</h4>
							</div>
						</div>
					</div>
					<div class="col-md-4 text-center d-flex ftco-animate">
						<div class="services-1">
							<span class="icon">
								<i class="flaticon-ideas"></i>
							</span>
							<div class="desc">
								<h3 class="mb-5"><a href="#">Other</a></h3>
								<h4>DevOps</h4>
								<h4>Unit Testing</h4>
								<h4>Web Scraping</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="ftco-section ftco-hireme">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-lg-9 d-flex align-items-center ftco-animate">
						<h2>I'm <span>Available</span> For Freelancing</h2>
					</div>
					<div class="col-md-4 col-lg-3 d-flex align-items-center ftco-animate">
						<p class="mb-0"><a href="#" class="btn btn-white py-4 px-5">Hire me</a></p>
					</div>
				</div>
			</div>
		</section>